.container{
    height: calc(100vh - 50px);
    background: none;
}
.text-area {
    background-color: #fff;
    padding: 4px;
}

.container h3 {
    color: #333;
    font-weight: 600;
    line-height: 28px;
}
.search-body {
    /* background-color: #fff; */
    height: calc(100% - 70px);
}
.drop-menu{
    width: 200px;
}
.bond-item{
    width: 100%;
    padding: 10px 0 0 0;
    border-radius: 3px;
    background-color: #f2fcff;
    margin-bottom: 10px;
    border: 1px solid #666;
}
.opeate-item{
    cursor: pointer;
    color: #437fff;
}
.red-label{
    color: red;
}
.flex-item{
    display: flex;
}
.aline{
    background-color:#ccc;
    height:1px;
    margin: 10px;
}
.bond-col{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #666;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
:global {
    .ant-tabs-bar{
        margin-bottom: 8px;
    }
}